.nav_menu {
  width: 250px;
  position: fixed;
  top: 5rem;
  //padding-top: 5rem;
  left: -100%;
  height: 100%;
  z-index: 100;
  // background: linear-gradient(#f76b6e, #514495);
  background: linear-gradient(#fed9d8, #99ccff);
  overflow-y: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
.nav_menu::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

@media (max-width: 767px) {
  .nav_menu {
    //top: 3.4em;
    width: 250px;
    position: fixed;
    top: 8.5rem;
  }
}
@media (max-width: 376px) {
}

.nav_menu.active {
  left: 0;
  //transition: 350ms;
}
.navmenu_add {
  width: 250px;
  height: 60px;
  background-color: #8ebff0;
  position: fixed;
  bottom: 0;
  list-style: none;
  display: flex;

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #161616;
    width: 250px;
    height: 60px;
    text-align: center;
    span {
      margin-left: 10px;
    }
  }
}
.nav_text {
  padding: 8px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  //border: 1px solid red;

  span {
    text-decoration: none;
    color: #2e2e2e;
  }
}
.nav_text:hover {
  background: #fff;
  transition: 150ms;
  border-radius: 10px;
  span {
    color: #161616;
  }
}
.navmenu_add:hover {
  background: #fed9d8;
  transition: 150ms;
  p {
    color: #161616;
  }
}
.navmenu_items {
  width: 100%;
  height: 100%;
  background: linear-gradient(#fed9d8, #99ccff);
  //background-color: #9ecdfd;
  //background: linear-gradient(#4093a5, #276c7c);
  list-style: none;
  padding: 12px;
  //border-right: 1px solid #e3e3e3;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// .navfaIcon {
//   margin-left: 20px;
// }
.faiconContent {
  display: flex;
  .fapen {
    margin-right: 6px;
  }
}
.nav_name {
  display: flex;
  align-items: center;
  width: 10rem;
  height: 3rem;
}
