.menuList {
  padding: 15px;
  border: 0.5px solid gray;
}
.menuList:hover {
  background-color: #bec1c7;
  color: white;
}

.feedMenu {
  position: absolute;
  top: 50px;
  right: 30px;
}

.menu {
  position: absolute;
  z-index: 100;
  width: 150px;
  right: 20px;
  top: 85px;
  list-style: none;
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: center;
}