.searchWrapper {
  width: 300px;
  height: 50px;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  margin: 0;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}
.nav_bar {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 5em;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
  background-color: pink;
}
.sidebar_top {
  display: flex;
  justify-content: center;
}

.nav_barMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 8.5em;
  padding: 1em;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
  background-color: pink;
}
.rightWrapper {
  display: flex;
}

.fofile_box {
  display: flex;
  flex-direction: column;
}
.myFrofile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.dropList {
  right: 0;
  //padding-right: 10px;
  width: 10rem;
  position: absolute;
  top: 80px;
  transition: 850ms;
}
.dropList.active {
  transition: 350ms;
}

.nav_bar h1 {
  font-size: 2rem;
}
.nav_barMobile h1 {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .searchWrapper {
    width: 80%;
    height: 50px;
    background-color: #fff;
    //border: 1px solid black;
    margin: 0;
    display: flex;
  }
  .sidebar_btn {
    font-size: 2.5rem;
    cursor: pointer;
  }
  .dropList {
    top: 136px;
  }
  .sidebar_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .test {
    width: 100%;
  }
}
@media (max-width: 376px) {
}
