.searchWrapper {
  width: 300px;
  height: 40px;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px 20px 10px 20px;
  margin: 0;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.nav_bar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 5em;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  top: 0;
  background-color: white;

  border-bottom: 1px solid #e3e3e3;
  z-index: 1000;
}
.sidebar_top {
  display: flex;
  justify-content: center;
}

.nav_barMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 8.5em;
  padding: 1em;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #e3e3e3;
  z-index: 100;
}
.rightWrapper {
  display: flex;
}

.nav_bar h1 {
  font-size: 2rem;
}
.nav_barMobile h1 {
  font-size: 2rem;
}
@media (max-width: 767px) {
  .searchWrapper {
    width: 80%;
    height: 50px;
    background-color: #fff;
    //border: 1px solid black;
    margin: 0;
    display: flex;
  }
  .sidebar_btn {
    font-size: 2.5rem;
    cursor: pointer;
  }
  .dropList {
    top: 136px;
  }
  .sidebar_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .test {
    width: 100%;
  }
}
@media (max-width: 376px) {
}
