.my__profile {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;



    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        padding: 3rem;

        .form__group {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;

            .profile__img__label {
                .profile__img__wrapper {
                    cursor: pointer;

                    .profile__img__preview {
                        img {
                            width: 100px;
                            height: 100px;
                            padding: 0.5rem;
                            border-radius: 50%;
                            background-color: #f0f0f0;
                        }

                        .profile__img__empty {
                            width: 100px;
                            height: 100px;
                            border-radius: 50%;
                            background-color: #f0f0f0;
                        }
                    }

                    .profile__img__change {
                        color: #0095f6;
                    }
                }
            }

            label {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 8px;
            }

            .email__input {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            input[type='text'],
            input[type='date'],
            input[type='tel'],
            input[type='password'],
            textarea,
            select {
                padding: 10px;
                font-size: 16px;
                border: 1px solid #dbdbdb;
                border-radius: 4px;
                background-color: #fafafa;
                transition: border-color 0.2s ease-in-out;

                &:focus {
                    border-color: #b2dffc;
                }
            }

            textarea {
                min-height: 100px;
            }
        }

        button[type='submit'] {
            padding: 10px;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            background-color: #0095f6;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: #0086e3;
            }
        }
    }
}