.main {
  margin: var(--nav-medium-height) 0px 0px var(--nav-medium-width);
}

.feeds {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.feedDiv {
  position: relative;
  padding: 50px 20px;
  margin: 0 auto;
  width: 500px;
  border-bottom: 1px solid #bec1c7;
}
.feedDiv .feedUser {
  display: flex;
  margin: 0 0 25px 0;
  width: 100%;
}
.feedDiv .feedUser h1 {
  font-size: 0.6rem;
  line-height: 1.3;
  margin-left: 5px;
}
.feedDiv .feedUser h1 p {
  font-size: 1rem;
  font-weight: bold;
}
.feedDiv .feedMenu {
  position: absolute;
  top: 50px;
  right: 30px;
}
.feedDiv .dropDownBtn svg {
  pointer-events: none;
}
.feedDiv .dropDownBtn path {
  pointer-events: none;
}
.feedDiv .menu {
  position: absolute;
  z-index: 100;
  width: 150px;
  right: -10px;
  top: 50px;
  list-style: none;
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: center;
}
.feedDiv .disable {
  display: none;
}
.feedDiv .menuList {
  padding: 15px;
  border: 0.5px solid gray;
}
.feedDiv .menuList:hover {
  background-color: #bec1c7;
  color: white;
}
.feedDiv img {
  width: 100%;
}

.comment {
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .main {
    margin: 10px;
  }
  .feeds {
    display: flex;
    align-items: center;
    margin: 120px 0 10px 0px;
    width: 100%;
    flex-direction: column;
  }
  .feedDiv {
    width: 100%;
  }
  .feedDiv .menu {
    position: absolute;
    z-index: 100;
    width: 30vw;
    right: -5px;
    list-style: none;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
  .feedDiv .menuList {
    padding: 15px;
  }
  .feedDiv .menuList:hover {
    background-color: black;
    color: white;
  }
}
.sideDiv {
  height: 100%;
  width: 35%;
  position: sticky;
  right: 3%;
  top: 15%;
  scroll-behavior: smooth;
}

@media (max-width: 1150px) {
  .feeds {
    width: 100%;
  }
  .sideDiv {
    display: none;
  }
}