.feeds {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 0 10px 50px;
}

.feedDiv {
  position: relative;
  background-color: beige;
  padding: 30px;
  border-radius: 20px;
  margin: 30px;
  width: 35%;

  .feedUser {
    display: flex;
    margin: 0 0 20px 0;
    h1 {
      margin-left: 5px;
      font-size: 1rem;
      line-height: 2;
      font-weight: bold;
    }
  }

  .feedMenu {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .dropDownBtn {
    svg {
      pointer-events: none;
    }
    path {
      pointer-events: none;
    }
  }

  .menu {
    position: absolute;
    z-index: 100;
    width: 15vw;
    right: -5px;
    list-style: none;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
  .disable {
    display: none;
  }
  .menuList {
    padding: 15px;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  img {
    width: 100%;
  }
  .iconDiv {
    display: flex;
    button {
      margin: 3px;
      background-color: transparent;
      border: 0;
      margin-right: 5px;
      svg {
        pointer-events: none;
      }
      path {
        pointer-events: none;
      }
    }
    p {
      line-height: 3;
      margin-right: 5px;
    }
  }
}

@media (max-width: 768px) {
  .feeds {
    display: flex;
    align-items: center;

    margin: 150px 0 10px 0px;

    flex-direction: column;
  }
  .feedDiv {
    width: 80%;
    margin: 30px 0 30px 0px;
    .menu {
      position: absolute;
      z-index: 100;
      width: 30vw;
      right: -5px;
      list-style: none;
      background-color: aliceblue;
      margin: 0;
      padding: 0;
      font-size: 1rem;
    }
    .menuList {
      padding: 15px;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}
@media (max-width: 376px) {
}
