$mobile-img: './mobile.png';
$monitor-img: './monitor.png';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .wrapper {
        height: 100%;


        .monitor {
            position: relative;
            background-image: url(#{$monitor-img});
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 50rem;
            height: 50rem;
            z-index: 2;

            .slide {
                position: absolute;
                left: 6.2rem;
                top: 9.7rem;
                width: 37.5rem;
                height: 22rem;
            }

            .active {
                z-index: -1;
                transform: scale(1);
            }
        }

        .mobile {
            position: relative;
            bottom: 15rem;
            left: 70%;
            right: 0;
            width: 25rem;
            height: 25rem;
            background-image: url(#{$mobile-img});
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: translateY(-60%);
            z-index: 3;


            .slide {
                position: absolute;
                top: 2.87rem;
                left: 7.8rem;
                width: 9.4rem;
                height: 19.2rem;
                border-radius: 1.2rem;
                z-index: 3;
            }

            .active {
                z-index: 2;
            }

        }
    }

}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .monitor {
        width: 18rem;
        height: 18rem;
        border-bottom: 1px solid #999;


        .slide {
            position: absolute;
            top: 41%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 0.1rem;
            width: 73.33%;
            height: 43%;

        }

        .active {
            z-index: 2;
        }
    }

    .mobile {
        position: relative;
        top: 0;
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;


        .slide {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 0.7rem;
            width: 29%;
            height: 77.3%;
            z-index: -1;
        }

        .active {
            z-index: 2;
        }
    }
}