$mobile-img: '../image/mobile.png';
$monitor-img: '../image/monitor.png';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;



    .wrapper {
        height: 100vh;


        .monitor {
            position: relative;
            background-image: url(#{$monitor-img});
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 30rem;
            height: 30rem;
            margin: auto;

            .slide {
                position: absolute;
                left: 4rem;
                top: 6.1rem;
                width: 22rem;
                height: 12.5rem;
            }

            .active {
                z-index: 1;
                transform: scale(1);
            }
        }

        .mobile {
            position: relative;
            bottom: 12rem;
            left: 60%;
            right: 0;
            width: 14rem;
            height: 14rem;
            background-image: url(#{$mobile-img});
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            transform: translateY(-60%);
            z-index: 2;


            .slide {
                position: absolute;
                top: 1.6rem;
                left: 4.4rem;
                width: 5.2rem;
                height: 10.8rem;
                border-radius: 0.7rem;

            }

            .active {
                z-index: 2;
                transform: scale(1);
            }
        }

        @media screen and (max-width: 768px) {
            .container {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .wrapper {
                display: flex;
                margin: auto;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .monitor {
                width: 18rem;
                height: 18rem;
                border-bottom: 1px solid #999;


                .slide {
                    position: absolute;
                    top: 41%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 0.1rem;
                    width: 73.33%;
                    height: 43%;
                }

                .active {
                    z-index: 2;
                }
            }

            .mobile {
                position: relative;
                top: 0;
                bottom: 50%;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;


                .slide {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 0.7rem;
                    width: 29%;
                    height: 77.3%;
                    z-index: -1;
                }

                .active {
                    z-index: 2;
                }
            }
        }
    }

}