$mobile-img: './mobile.png';
$monitor-img: './monitor.png';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 3rem auto;

        .monitor {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(#{$monitor-img});
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

            }

            .slide {
                position: absolute;
                top: 5%;
                left: 13%;
                width: 74%;
                height: 70%;
                transition: opacity 0.3s ease-in-out;
                opacity: 0;
                z-index: -1;

                &.active {
                    opacity: 1;
                    z-index: -1;
                }
            }

            .mobile {
                overflow: hidden;
                position: relative;
                top: 45%;
                bottom: 0;
                left: 60%;
                width: 100%;
                height: 20em;
                z-index: 1;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(#{$mobile-img});
                    background-repeat: no-repeat;
                    background-size: contain;
                }

                .slide {
                    position: absolute;
                    top: 11%;
                    left: 13.5%;
                    width: 17%;
                    height: 78%;
                    border-radius: 1.2em;
                    opacity: 0;

                    &.active {
                        opacity: 1;
                        z-index: -1;
                    }
                }
            }
        }
    }


    footer {
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 150px;


        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            gap: 5rem;

            h3 {
                font-size: 3rem;
                font-weight: 700;
                text-align: center;
            }

            ul {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;

                li {
                    padding: 1rem;
                }
            }
        }
    }
}