.feedDetailDiv {
  padding: 25px 0px 0px 0px;

  height: 600px;
  overflow-y: scroll;
  img {
    width: 100%;
  }
  .nickName {
    display: flex;
    margin-bottom: 5px;
  }
  h1 {
    margin-left: 10px;

    font-size: 0.7rem;
    p {
      font-size: 0.9rem;
    }
  }
  .commentDiv {
    li {
      list-style: none;
      margin: 10px 10px 10px 0;
    }
    .commentBtn {
      button {
        margin: 10px;
      }
    }
  }

  .commentInput {
    border-top: 1px solid grey;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    textarea {
      width: 80%;
      resize: none;
    }
  }
}
