.postForm {
  padding: 5px 0px 0px 0px;
  border-radius: 10px;
  width: 70%;
  background-color: beige;

  .postFormHeader {
    padding: 15px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
    h3 {
      margin: 0;
      font-weight: bold;
      font-size: 1.2rem;
    }
    p {
      margin: 0;
    }
    button {
      background-color: transparent;
      border: 0;
      color: skyblue;
      font-weight: bold;
    }
  }

  .postFormMain {
    border-top: 1px solid bisque;
    display: flex;
    height: 500px;
    .fileForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60%;
      cursor: pointer;
      border-radius: 5px;
      input {
        opacity: 0;
        z-index: 100;
        width: 100px;
        height: 130px;
      }
      button {
        position: absolute;
        border: 0;
        background-color: transparent;
      }
    }

    .postFormDiv {
      background-color: beige;
      width: 50%;
      padding: 20px;

      p {
        margin-left: 10px;
      }
      .postFormNickname {
        display: flex;
      }

      .title {
        border: 0;
        width: 80%;
        margin-top: 30px;
        background-color: transparent;
      }
      .contents {
        border: 0;
        background-color: transparent;
        resize: none;
        width: 80%;
        margin-top: 30px;
        height: 50%;
      }
    }
  }
}

@media (max-width: 768px) {
  .postForm {
    padding: 5px 0px 0px 0px;
    border-radius: 10px;
    width: 100%;
    background-color: beige;
  }
}

@media (max-width: 376px) {
}
